@font-face{
    font-family: 'CR';
    src: url(../fonts/Comfortaa-Regular.ttf)format('truetype');
}
@font-face{
    font-family: 'CR';
    src: url(../fonts/Comfortaa/Comfortaa-Bold.ttf)format('truetype');
}
@font-face{
    font-family: 'CR';
    src: url(../fonts/Montserrat/Montserrat-BoldItalic.ttf)format('truetype');
}
@font-face{
    font-family: 'CR';
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf)format('truetype');
}
@font-face{
    font-family: 'CR';
    src: url(../fonts/Roboto/Roboto-MediumItalic.ttf)format('truetype');
}
@font-face{
    font-family: 'CR';
    src: url(../fonts/Roboto/Roboto-Regular.ttf)format('truetype');
}